/***

Mostly made by OmAr, Borrowed some code from some online places

***/

body{
  padding: 0px;
  margin: 0px;
  font-family: 'Ubuntu';
  line-height: 180%;
  background-color: black;
}
h1{
  line-height: 100%;
}
table, th, td {
  border:1px solid white;
  color: white;
  padding: 3px;
}
a{
  text-decoration: none;
  color: red;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: #010098;
  color: white;
}
.headero{
  background-color: #1b1b1b;
  overflow: scroll;
}
.headero h1 {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 35px;
}
.headero p {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 20px;
}
.linkss a {
  display: grid;
  color: #b30909;
  text-align: center;
  padding: 3px 3px;
  text-decoration: none;
  font-size: 15px;
  border-top: white 2px solid;
  border-bottom: white 2px solid;
}
.stdblock{
  background-color: #0a0a0a;
  overflow: scroll;
}
.stdblock h1 {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 19px;
  text-decoration: none;
  font-size: 35px;
}
.stdblock p {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 20px;
}

#footer {
  background-color: #000000;
  height: auto;
  margin-top: 0px;
  bottom: 0px;
  padding-right: 25%;
  padding-left: 25%;
}
#footer-container {
  background-color: #000000;
}
#footer .top {
  border-bottom: 1px solid #7F7F7F;
  padding-bottom: 16px;
  padding-top: 10px;
}
#footer .links {
  float: left;
  margin-top: 13px;
}
#footer .links a {
  color: #fff;
}
#footer .links li {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 13px;
  text-decoration: underline;
}
#footer .social {
  float: left;
}
#footer .social li {
  margin-bottom: 7px;
  text-decoration: underline;
}
#footer .social a {
  color: #FFFFFF;
  font-size: 12px;
}
#footer-container ul li {
  text-align: left
}
red{
  color: red;
}